<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en"></head>
<body>
<div class="form">
    <form method="POST" action="/login">
        <div>

            <input name="email" type="text"/>
            <input name="password" type="password"/>
        </div>
        <div>
            <label for="remember-me">Remember me</label>
            <input type="checkbox" name="remember-me" id="remember-me"/>
        </div>
        <button type="submit">Log In</button>
    </form>
</div>
</body>
</html>