<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en"></head>
<body>
TEST
<br/>
____________________________________________________________________________________
ADD NEW USER
<br/>
<form method="POST" action="/registration">
    <div>
        User email:<br/>
        <input name="email" type="email"/>
        <br/>
        Password:<br/>
        <input name="password" type="password"/>
        <br/>
        <br/>
        First name:<br/>
        <input name="firstName" type="text"/>
        <br/>
        Last Name:<br/>
        <input name="lastName" type="text"/>
        <br/>
        Recovery Email:<br/>
        <input name="recoveryEmail" type="text"/>
        <br/>
        Phone number:<br/>
        <input name="phoneNumber" type="text"/>
        <br/>
        Prefered lang:<br/>
        <input name="preferedLang" type="text"/>
        <br/>
        Sex:<br/>
        <input name="sex" type="text"/>
        <br/>
        Date of BT:<br/>
        <input name="dateOfBirth" type="date"/>
        <br/>
        About yourself:<br/>
        <input name="aboutYourSelf" type="text"/>
        <br/>
        FB link:<br/>
        <input name="fbLink" type="url"/>
        <br/>
        VK link:<br/>
        <input name="vkLink" type="url"/>
        <br/>
        skype:<br/>
        <input name="skype" type="url"/>
        <br/>
        Google + :<br/>
        <input name="gplus" type="url"/>
        <br/>
        <br/>
        twitter:<br/>
        <input name="twitter" type="url"/>
        <br/>
        <button type="submit">Log In</button>
    </div>
</form>
____________________________________________________________________________________
<br/>

</body>
</html>